.footer-app{
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    color: rgb(60, 68, 180);
    position: fixed;
    bottom: 0;
    border-radius: 5px;
    background-color: rgb(190, 182, 182);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-item{
    width:30%;
    margin-top: 10px;
    text-align: center;
    float: left;
}