<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur le site de réservation de votre agence BoVoyage</h1>
    <hr class="my-4">
    <p>BoVoyage est un prestataire de service qui met à la disposition du public une liste de tous les voyages invendus
        par les agences de voyage.</p>
    <p>Nous proposons différentes formules de voyages/vacances à des prix soldés. La remise peut aller jusqu’à 50 % du
        prix public normalement pratiqué par les agences de voyage.</p>
    <p>Les dates de départ et de retour sont imposées et très souvent imminentes! Alors dépêchez-vous, et rendez-vous
        sur notre page de formules voyage "tout compris" (transport, hébergement, ...)</p>
    <a class="btn btn-primary btn-lg"  [routerLink]="['/formulelist']" role="button">Voir nos formules voyage "tout compris"</a>
</div>